        /* Klass-selektor */
        .text {
            color: blue;
        }


        /* ID-selektor */
        #text1 {
            color: green;
        }


        /* !important */
        .important-text {
            color: red !important;
        }